#os system#
.db
.temp
*temp.meta

.DS_Store

AndroidProj/sdkone/debug/

UnityProj/Library/
UnityProj/Logs/
UnityProj/obj/
UnityProj/ProjectSettings/
UnityProj/RecastNavigation/
UnityProj/Temp/
UnityProj/UserSettings/
UnityProj/AndroidPackageProj/
UnityProj/.vscode/
UnityProj/Cache/
UnityProj/Doc/
UnityProj/GCloud.ini
UnityProj/GCloud

/ConfigExporterProj/.vs
/ConfigExporterProj/bin
/ConfigExporterProj/obj
URPDebugViews
URPDebugViews.meta
.vscode
font
UWAScan_SA_BuildTest_Standalone
UwaScan_Uploader
UwaScan
UwaProjScan
UwaProjScan.meta
UWA_Builds
UWA
out
.vs
UnityProj/Assets/UWA.meta
HE_OUT_hdaprocessor*